{% load i18n %}
<!-- <nav class="filter">  
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans "Affected People" %}</a></h4>
  <ul class="nav open legend" id="legendCustom">
  </ul>
  <span style="font-size:10px">Affected = living in flood prone area</span>
</nav>  -->
<!-- 
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans "Base Layers" %}</a></h4>
  <ul class="nav" id="baselayers">
    <li><a data-value="warden" data-filter="warden" ng-click="single_choice_listener($event)" class="active">MapBox Warden</a></li>
    <li><a data-value="opencyclemap" data-filter="opencyclemap" ng-click="single_choice_listener($event)">OpenCycleMap</a></li>
    <li><a data-value="outdoors" data-filter="outdoors" ng-click="single_choice_listener($event)">Outdoors</a></li>
    <li><a data-value="osm" data-filter="osm" ng-click="single_choice_listener($event)">OpenStreetMap</a></li>
  </ul>
</nav> 
--> 
<!--
<nav class="filter">
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans "Layers" %}</a></h4>
  <ul class="nav open" id="layers">
    <li><a data-value="raster" data-filter="" ng-click="multiple_choice_listener($event)" class="">Flood Probability</a></li>
    <li><a data-value="popatrisk_block" data-filter="" ng-click="multiple_choice_listener($event)" class="active">Population at Risk (block map)</a></li>
    <li><a data-value="popatrisk_heat" data-filter="" ng-click="multiple_choice_listener($event)">Flood Events</a></li>
    <li><a data-value="landscan" data-filter="" ng-click="multiple_choice_listener($event)">Population Landscan</a></li>
    <li><a data-value="warehouses" data-filter="" ng-click="multiple_choice_listener($event)">WFP Warehouses</a></li>
  </ul>
</nav> 
--> 
<!-- <nav class="filter">  
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans "Month" %}</a></h4>
  <ul class="nav open" id="months">   
    <li><a data-value="jan" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "January" monthName %} class="active" {% endifequal %}>January</a><li>
    <li><a data-value="feb" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "February" monthName %} class="active" {% endifequal %}>February</a><li>
    <li><a data-value="mar" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "March" monthName %} class="active" {% endifequal %}>March</a><li>
    <li><a data-value="apr" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "April" monthName %} class="active" {% endifequal %}>April</a><li>
    <li><a data-value="may" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "May" monthName %} class="active" {% endifequal %}>May</a><li>
    <li><a data-value="jun" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "June" monthName %} class="active" {% endifequal %}>June</a><li>
    <li><a data-value="jul" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "July" monthName %} class="active" {% endifequal %}>July</a><li>
    <li><a data-value="aug" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "August" monthName %} class="active" {% endifequal %}>August</a><li>
    <li><a data-value="sep" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "September" monthName %} class="active" {% endifequal %}>September</a><li>
    <li><a data-value="oct" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "October" monthName %} class="active" {% endifequal %}>October</a><li> 
    <li><a data-value="nov" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "November" monthName %} class="active" {% endifequal %}>November</a><li>
    <li><a data-value="dec" data-filter="" ng-click="month_multiple_choice_listener($event)" {% ifequal "December" monthName %} class="active" {% endifequal %}>December</a><li>
  </ul>
</nav>  --> 
<!-- <nav class="filter">  
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans "Probabilities" %}</a></h4>
  <ul class="nav open" id="rps">
    <li><a title="A return period is an estimate of the likelihood of an event, such as a flood, to occur.
The theoretical return period is the inverse of the probability that the event will
be exceeded in any one year (or more accurately the inverse of the expected number of occurrences in a year).
In this case, a 25 year flood has a 0.04 or 4% chance of being exceeded in any one year." data-tooltip-position="right" data-value="RP25" data-filter="" ng-click="RP_choice_listener($event)" class="active">4%<span class="badge_legend RP25 pull-right">&nbsp</span></a><li>
    <li><a title="A return period is an estimate of the likelihood of an event, such as a flood, to occur.
The theoretical return period is the inverse of the probability that the event will
be exceeded in any one year (or more accurately the inverse of the expected number of occurrences in a year).
In this case, a 50 year flood has a 0.02 or 2% chance of being exceeded in any one year." data-value="RP50" data-filter="" ng-click="RP_choice_listener($event)" class="active">2%<span class="badge_legend RP50 pull-right">&nbsp</span></a><li>
    <li><a title="A return period is an estimate of the likelihood of an event, such as a flood, to occur.
The theoretical return period is the inverse of the probability that the event will
be exceeded in any one year (or more accurately the inverse of the expected number of occurrences in a year).
In this case, a 100 year flood has a 0.01 or 1% chance of being exceeded in any one year." data-value="RP100" data-filter="" ng-click="RP_choice_listener($event)" class="active">1%<span class="badge_legend RP100 pull-right">&nbsp</span></a><li>
    <li><a title="A return period is an estimate of the likelihood of an event, such as a flood, to occur.
The theoretical return period is the inverse of the probability that the event will
be exceeded in any one year (or more accurately the inverse of the expected number of occurrences in a year).
In this case, a 200 year flood has a 0.005 or 0.5% chance of being exceeded in any one year." data-value="RP200" data-filter="" ng-click="RP_choice_listener($event)" class="active">0.5%<span class="badge_legend RP200 pull-right">&nbsp</span></a><li>
    <li><a title="A return period is an estimate of the likelihood of an event, such as a flood, to occur.
The theoretical return period is the inverse of the probability that the event will
be exceeded in any one year (or more accurately the inverse of the expected number of occurrences in a year).
In this case, a 500 year flood has a 0.002 or 0.2% chance of being exceeded in any one year." data-value="RP500" data-filter="" ng-click="RP_choice_listener($event)" class="active">0.2%<span class="badge_legend RP500 pull-right">&nbsp</span></a><li>
    <li><a title="A return period is an estimate of the likelihood of an event, such as a flood, to occur.
The theoretical return period is the inverse of the probability that the event will
be exceeded in any one year (or more accurately the inverse of the expected number of occurrences in a year).
In this case, a 1000 year flood has a 0.001 or 0.1% chance of being exceeded in any one year." data-value="RP1000" data-filter="" ng-click="RP_choice_listener($event)" class="active">0.1%<span class="badge_legend RP1000 pull-right">&nbsp</span></a><li>
  </ul>
</nav>  --> 
<!--<nav class="filter">  
   <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans "Vulnerability" %}</a></h4>
   <ul class="nav open" id="external">
    <li><a data-value="FCS" data-filter="" ng-click="external_choice_listener($event)">Food Consumption</a>
      <input type="checkbox" id="c_poor" class="checkbox" disabled checked />
      <label for="c_poor">Poor</label>
      <input type="checkbox" id="c_borderline" class="checkbox" disabled checked/>
      <label for="c_borderline">borderline</label>
      <input type="checkbox" id="c_accepptable" class="checkbox" disabled/>
      <label for="c_accepptable">Acceptable</label>
    </li>
    <li><a data-value="CSI" data-filter="" ng-click="external_choice_listener($event)">CSI</a>
      <input type="checkbox" id="c_no" class="checkbox" disabled/>
      <label for="c_no">No</label>
      <input type="checkbox" id="c_low" class="checkbox" disabled checked/>
      <label for="c_low">Low</label>
      <input type="checkbox" id="c_med" class="checkbox" disabled/>
      <label for="c_med">Med</label>
      <input type="checkbox" id="c_high" class="checkbox" disabled/>
      <label for="c_high">High</label>

    </li> -->
    <!-- <li><a data-value="CSI" data-filter="" ng-click="external_choice_listener($event)">CSI</a></li>
    <li><a data-value="IS" data-filter="" ng-click="external_choice_listener($event)">Income Sources</a></li> 
  </ul>
</nav>-->

<!--
<nav class="filter">  
  <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Quick Links" %}</a></h4>
  <ul class="nav closed" id="Country">
    <li ng-repeat="area in Country | groupBy:'wfp_area_id':'area_id'">
        {% verbatim %} 
          <a ng-if="area.wfp_area_id == 1" ng-click="quicklinks($event)">Africa</a>   
          <a ng-if="area.wfp_area_id == 2" ng-click="quicklinks($event)">America</a>
          <a ng-if="area.wfp_area_id == 3" ng-click="quicklinks($event)">Asia</a>
          <a ng-if="area.wfp_area_id == 4" ng-click="quicklinks($event)">Middle East</a>   
        {% endverbatim %} 
      <ul class="nav closed" id="_links">
        <li ng-repeat="detail in area.items">
          <a href="{% url "hazard_detail" %}?iso={% verbatim %}{{ detail.iso3 }}&country={{detail.name}}{% endverbatim %}">{% verbatim %}{{ detail.name }}{% endverbatim %} </a>
        </li>  
      </ul> 
    </li>
  </ul>
</nav>  
-->


