{% verbatim %}
  <article ng-repeat="item in results" resource_id="{{ item.iso3 }}" ng-cloak>
  	<div class="row items-list">
      <div class="col-md-6">
        <h4><a href="{% endverbatim %}{% url "hazard_detail" %}{% verbatim %}
">{{ item.name }} ({{item.extended_name}})</a> <span class="owner">{{ item.owner.username }}</span></h4>
        <p class="abstract"  ng-if="item.extreme.pop == 0">No Data</p>
        <p class="abstract"  ng-if="item.extreme.pop > 0">The highest population at risk is {{ item.extreme.pop }} on {{ item.extreme.month }} for {{ item.extreme.RP }} years return period.</p>
        <p class="abstract"  ng-if="item.extreme.pop > 0">Chart representing the annual probability.</p>	
      </div>
      <div class="col-md-6">
  	    <img class="thumb" ng-src="https://chart.googleapis.com/chart?chxt=x&cht=lc&chd=t:{{ item.chartvalue }}&chco=AAB4FB,AABBBC,FF0000,00FF00,0000FF,00FFFF&chls=2.0&chs=350x150&chxl=0:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec&chdl=Very High|High|Medium High|Medium Low|Low|Very Low" />
  	  </div>
    </div>
  </article>
{% endverbatim %}