{% verbatim %}
  <article ng-repeat="item in results" resource_id="{{ item.iso3 }}" ng-cloak>
  	<div class="row items-list">
      <div class="col-md-6">
        <h4><a href="{% endverbatim %}{% url "cyclone_detail" %}{% verbatim %}?iso={{ item.iso3 }}&country={{item.extended_name}}
">{{ item.name }} ({{item.extended_name}})</a> <span class="owner">{{ item.owner.username }}</span></h4>
        <p class="abstract"  ng-if="item.tot_pop == 0">No assessment performed</p>
        <p class="abstract"  ng-if="item.tot_pop > 0">{{ item.exposed_pop/item.tot_pop * 100 | number:0 }}% of the population live in cyclone prone areas and greatest risk is on {{ item.high_risk.month | uppercase }}.</p>
        <p class="abstract"  ng-if="item.tot_pop > 0">Total population (2011) : {{ item.tot_pop | number:0 }} </p>
        <p class="abstract"  ng-if="item.gdp_per_cap > 0">GDP Per Capita (USD) : {{ item.gdp_per_cap | number:2 }} </p>
        <p class="abstract"  ng-if="item.hdi > 0">Human Development Index (2012) : {{ item.hdi | number:2 }} </p>
        <p class="abstract"  ng-if="item.num_cat_0_5_cyclones > 0"># of all Cyclones 1969-2011  : {{ item.num_cat_0_5_cyclones | number:0 }} </p>
        <p class="abstract"  ng-if="item.num_cat_1_5_cyclones > 0"># of Saffir-Simpson Category 1-5 Cyclones 1969-2011   : {{ item.num_cat_1_5_cyclones | number:0 }} </p>
        <p class="abstract"  ng-if="item.exposed_pop > 0">Total Population in Cyclone Prone Areas : {{ item.exposed_pop | number:0 }} </p>
        <p class="abstract"  ng-if="item.exposed_pop > 0">Total Population in Coastal Storm Surge Prone Areas  : {{ item.storm_surge_exposed_pop | number:0 }} </p>
      </div>
      <div class="col-md-6">
        <img ng-if="item.tot_pop > 0" class="thumb" ng-src="https://chart.googleapis.com/chart?chs=300x150&cht=bvs&chd=t:{{ item.low_risk_cyclone/item.tot_pop*100| number:0 }},{{ item.low_med_risk_cyclone/item.tot_pop*100| number:0  }},{{ item.med_risk_cyclone/item.tot_pop*100| number:0  }},{{ item.med_high_risk_cyclone/item.tot_pop*100| number:0  }},{{ item.high_risk_cyclone/item.tot_pop*100| number:0  }}&chds=0,100&chxt=x,x,x,y&chco=C6D9FD|C6D9FD|C6D9FD|C6D9FD|C6D9FD&chxl=0:|1-20%|21-40%|41-60%|61-80%|81-100%|1:|Low||||High|2:|||Cyclone occurrence probability per year&chbh=25,10&chtt=% Population exposed to cyclones&chts=919191,10&chxs=0,919191,9,0,lt|1,919191,9,0,t|2,919191,9,0,t|3,919191,9,0,lt" />

        <img ng-if="item.tot_pop > 0" class="thumb" ng-src="https://chart.googleapis.com/chart?chs=350x150&cht=bvs&chd=t:{{ item.chartvalue }}&chds=a&chxt=x,y&chco=7E9FD1,72A984,D08C82,A49D8C,E8D5C8,D0DDB9&chxl=0:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec&chbh=15,5&chtt=Monthly Historical Cyclone Occurrences|1969-2011
&chts=919191,10&chxs=0,919191,9,0,lt|1,919191,9,0,lt&chdl=Cat 0|Cat 1|Cat 2|Cat 3|Cat 4|Cat 5&chdls=919191,9" />
  	  </div>
    </div>
  </article>
{% endverbatim %}