{% load i18n %}

<ul class="nav nav-pills filter pull-left" id="sort">
  <li><a data-value="name" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
  <li><a data-value="-name" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
  <li><a data-value="max_pop" data-filter="rank_by" ng-click="single_choice_listener($event)">{% trans "Most People At Risk" %}</a></li>
  <!--<li><a data-value="-max_pop" data-filter="rank_by" ng-click="single_choice_listener($event)">{% trans "Less People At Risk" %}</a></li>-->
  <li><a data-value="max_surge" data-filter="rank_by" ng-click="single_choice_listener($event)">{% trans "Most People At Storm Surge" %}</a></li>
  <!--<li><a data-value="-max_surge" data-filter="rank_by" ng-click="single_choice_listener($event)">{% trans "Less People At Storm Surge" %}</a></li>-->
</ul>

