{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load staticfiles %}
{% verbatim %}

<style>
  .angular-leaflet-map{
    height: 425px;
    position : relative;
    border: 4px #fff solid;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
  }
</style> 

  <div id="info" class="panel panel-primary info in" ng-show="selectedObject.properties">
    <div class="panel-heading">
      <button type="button" class="close" onclick="$('#info').hide();">
        &times;
     </button>
      <h3 class="panel-title">{{ selectedObject.properties.adm2_name || 'No object selected'}}</h3>
   </div>
   <div class="panel-body">
      <highchart id="chart2" config="privateHighchartsNG"></highchart>
    </div>  
  </div>

  <div class="row">
    <div class="leaflet_map box blue"> 
      <div class="box-header">
        <h4><i class="fa fa-map-marker"></i><span ng-bind="countryName"></span></h4>  
      </div>
      <div class="box-content">
        <leaflet center="center" events="events" defaults="defaults" layers="layers" geojson="geojson">
        </leaflet>  
      </div>  
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 column" style="padding-left:0;">
      <div class="box blue">
        <div class="box-header">
          <h4><i class="fa fa-bar-chart-o"></i>Est population at risk by probabilities</h4>
        </div> 
        <div class="box-content">
          <highchart id="chart1" config="highchartsNG"></highchart>
        </div> 
      </div>  
    </div> 

    <div class="col-md-6 column" style="padding-right:0;">
      <div class="box blue">
        <div class="box-header">
          <h4><i class="fa fa-exchange"></i>Est population at risk (0000)</h4>
        </div> 
        <div class="box-content">
          <table st-table="rowCollection" class="table table-striped table_font header-fixed">
            <thead>
            <tr>
              <th>Region</th>
              <th>Jan</th>
              <th>Feb</th>
              <th>Mar</th>
              <th>Apr</th>
              <th>May</th>
              <th>Jun</th>
              <th>Jul</th>
              <th>Aug</th>
              <th>Sep</th>
              <th>Oct</th>
              <th>Nov</th>
              <th>Dec</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollection">
              <td>{{row.region}}</td>
              <td title="January">{{row.jan/10000| number:0}}</td>
              <td title="February">{{row.feb/10000| number:0}}</td>
              <td title="March">{{row.mar/10000| number:0}}</td>
              <td title="April">{{row.apr/10000| number:0}}</td>
              <td title="May">{{row.may/10000| number:0}}</td>
              <td title="June">{{row.jun/10000| number:0}}</td>
              <td title="July">{{row.jul/10000| number:0}}</td>
              <td title="August">{{row.aug/10000| number:0}}</td>
              <td title="September">{{row.sep/10000| number:0}}</td>
              <td title="October">{{row.oct/10000| number:0}}</td>
              <td title="November">{{row.nov/10000| number:0}}</td>
              <td title="December">{{row.dec/10000| number:0}}</td>
            </tr>
            </tbody>
          </table>
        </div> 
      </div>  
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 column" style="padding-left:0;">
      <div class="box blue">
        <div class="box-header">
          <h4><i class="fa fa-exchange"></i>Cyclone History (source : EMDAT)</h4>
        </div>
        <div class="box-content">
          <table st-table="emdatData" class="table table-striped table_font header-fixed2">
            <thead>
              <tr>
                <th>Year</th>
                <th>Occurences</th>
                <th>Deaths</th>
                <th>Injured</th>
                <th>Affected</th>
                <th>Homeless</th>
                <th>Total Affected</th>
                <th>Total Damage (000 $)</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in emdatData">
                <td>{{row.start_year}}</td>
                <td>{{row.occurrence | number:0 }}</td>
                <td align="right">{{row.deaths | number:0 }}</td>
                <td align="right">{{row.injured | number:0 }}</td>
                <td align="right">{{row.affected | number:0 }}</td>
                <td align="right">{{row.homeless | number:0 }}</td>
                <td align="right">{{row.total_affected | number:0 }}</td>
                <td align="right">{{row.total_damage | number:0 }}</td>
              </tr>
            </tbody>
          </table>  
        </div>  
      </div>  
    </div>  
  </div> 

  {% endverbatim %}
